[Desktop Entry]
Version=1.0
Type=Application
Name=Azahar
GenericName=3DS Emulator
Comment=Nintendo 3DS video game console emulator
Icon=./org.azahar_emu.Azahar.svg
TryExec=azahar
Exec=azahar %f
Categories=Game;Emulator;
MimeType=application/x-ctr-3dsx;application/x-ctr-cci;application/x-ctr-cia;application/x-ctr-cxi;
StartupWMClass=org.azahar_emu.Azahar
